#search__main{
    height: 100%;

    div#pokemon__container{
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        padding: 0  2rem;
    }
}

section#pokemon{
    width: 100%;
    
    div#pokemon__container{
        // width: 90%;
        padding-bottom: 3rem !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 0 2rem;

        .section__legend {
            font-size: 2rem;
        }
    }
}