.fire {
    color: $fire;
}
.grass {
    color: $grass;
}
.electric {
    color: $electric;
}
.water {
    color: $water;
}
.ice {
    color: $ice;
}
.ground {
    color: $ground;
}
.rock {
    color: $rock;
}
.fairy {
    color: $fairy;
}
.poison {
    color: $poison;
}
.bug {
    color: $bug;
}
.dragon {
    color: $dragon;
}
.psychic {
    color: $psychic;
}
.flying {
    color: $flying;
}
.fighting {
    color: $fighting;
}
.normal {
    color: $normal;
}