* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "orbitron", sans-serif;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container {
  padding: 0 2rem;
  width: 100%;
}

.flex__container__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text__family__sigmar {
  font-family: "sigmar one", sans-serif;
}

.text__color__lightblack {
  color: #1a191d;
}

.text__color__darkgray {
  color: #606060;
}

.text__color__gray {
  color: #9f9f9f;
}

.text__color__gray:hover {
  color: #dfdfdf;
}

.text__color__lightgray {
  color: #dfdfdf;
}

.bg__lightblack {
  background-color: #1a191d;
}

.bg__darkgray {
  background-color: #606060;
}

.bg__gray {
  background-color: #9f9f9f;
}

.bg__lightgray {
  background-color: #dfdfdf;
}

.fluid {
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.borderless {
  border: 0;
}

.rounded {
  border-radius: 1rem;
}

.body__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
}

.height__full {
  height: 100%;
}

#header {
  background-color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%, 59% 83%, 41% 83%, 40% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%, 59% 83%, 41% 83%, 40% 100%, 0 100%);
}

#header nav a {
  font-size: 1.5rem;
  position: relative;
}

#header nav a:hover::before {
  width: 100%;
}

#header nav a::before {
  top: 80%;
  content: "";
  position: absolute;
  width: 0%;
  height: 5px;
  background-color: #dfdfdf;
  -webkit-transition: 400ms;
  transition: 400ms;
}

#header nav form {
  height: 1.8rem;
  margin-left: 1rem;
}

#header nav form #search__input, #header nav form #search__button {
  border: 0;
  height: 100%;
}

#header nav form #search__input {
  width: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%, 0 70%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%, 0 70%);
}

#header nav form button#search__button {
  height: 100%;
  padding: 0.5rem;
  text-align: center;
  line-height: 50%;
  background-color: rgba(255, 0, 0, 0.014);
  -webkit-clip-path: polygon(81% 0, 100% 18%, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(81% 0, 100% 18%, 100% 100%, 0 100%, 0 0);
  font-size: 1rem;
  cursor: pointer;
}

#header nav form #search__input.searching {
  width: 12rem;
  padding-left: 1rem;
}

#header nav form button#search__button.searching {
  background-color: #1a191d;
}

.brand__container img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.brand__container h1.brand__name {
  font-size: 2.1rem;
}

main.flex__container__center {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 2rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

main.flex__container__center h2.section__legend:hover {
  color: #9f9f9f;
}

#starredPokemons {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

#starredPokemons .starredPokemons__buttons {
  text-align: center;
  font-size: 6.25rem;
  cursor: pointer;
  line-height: 50%;
  background-color: rgba(240, 248, 255, 0);
  z-index: 10;
}

#starredPokemons .starredPokemons__buttons:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-shadow: -10px 0 10px #000000;
}

#starredPokemons__carousel__container {
  width: 400px;
  height: 400px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  position: relative;
}

#starredPokemons__carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: translateZ(-325px);
          transform: translateZ(-325px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.starredPokemons__card {
  opacity: 0.5;
  position: absolute;
  width: 14.8rem;
  height: 20rem;
  left: 10px;
  top: 50%;
  padding: 0.8rem;
  border-radius: 0.3rem;
  margin: 0 1rem;
  -webkit-clip-path: polygon(85% 0, 100% 10%, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(85% 0, 100% 10%, 100% 100%, 0 100%, 0 0);
  cursor: pointer;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.starredPokemons__card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.starredPokemons__card:hover .starredPokemons__cover {
  background-size: 110%;
}

.starredPokemons__card .starredPokemons__card__cover {
  width: 100%;
  height: 70%;
  -webkit-clip-path: polygon(88% 0, 100% 11%, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(88% 0, 100% 11%, 100% 100%, 0 100%, 0 0);
}

.starredPokemons__card .starredPokemons__card__cover:hover {
  background-size: 110%;
}

.starredPokemons__card .starredPokemons__info {
  margin-top: 0.5rem;
}

.starredPokemons__card .starredPokemons__info .starredPokemons__type__container {
  margin-top: 0.3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

.starredPokemons__card .starredPokemons__info .starredPokemons__type__container .starredPokemons__type {
  padding: 0.3rem;
  border-radius: 0.4rem;
}

.starredPokemons__card .starredPokemons__info .starredPokemons__type__container .starredPokemons__type p {
  font-weight: 300;
  font-size: 0.8rem;
  text-align: center;
}

.starredPokemons__card.card__visible {
  opacity: 1;
}

.starred-pokemons-card:nth-child(1) {
  -webkit-transform: rotateY(0deg) translateZ(325px);
          transform: rotateY(0deg) translateZ(325px);
}

.starred-pokemons-card:nth-child(2) {
  -webkit-transform: rotateY(40deg) translateZ(325px);
          transform: rotateY(40deg) translateZ(325px);
}

.starred-pokemons-card:nth-child(3) {
  -webkit-transform: rotateY(80deg) translateZ(325px);
          transform: rotateY(80deg) translateZ(325px);
}

.starred-pokemons-card:nth-child(4) {
  -webkit-transform: rotateY(120deg) translateZ(325px);
          transform: rotateY(120deg) translateZ(325px);
}

.starred-pokemons-card:nth-child(5) {
  -webkit-transform: rotateY(160deg) translateZ(325px);
          transform: rotateY(160deg) translateZ(325px);
}

.starred-pokemons-card:nth-child(6) {
  -webkit-transform: rotateY(200deg) translateZ(325px);
          transform: rotateY(200deg) translateZ(325px);
}

.starred-pokemons-card:nth-child(7) {
  -webkit-transform: rotateY(240deg) translateZ(325px);
          transform: rotateY(240deg) translateZ(325px);
}

.starred-pokemons-card:nth-child(8) {
  -webkit-transform: rotateY(280deg) translateZ(325px);
          transform: rotateY(280deg) translateZ(325px);
}

.starred-pokemons-card:nth-child(9) {
  -webkit-transform: rotateY(320deg) translateZ(325px);
          transform: rotateY(320deg) translateZ(325px);
}

section#pokedex {
  width: 100%;
}

section#pokedex div#pokedex__container {
  margin-top: 1.5rem;
  padding-bottom: 3rem !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2rem;
}

section#pokedex div#pokedex__container .section__legend {
  margin-top: 1.5rem;
}

section#pokedex div#pokedex__container #pokedex__grid {
  padding-top: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 15rem;
  gap: 1.5rem;
}

section#pokedex div#pokedex__container #pokedex__grid .pokedex__card {
  width: 100%;
  padding: 0;
  border-radius: 1rem;
  cursor: pointer;
  overflow: hidden;
}

section#pokedex div#pokedex__container #pokedex__grid .pokedex__card:hover {
  -webkit-box-shadow: 0px 0px 10px 2px #1a191d;
          box-shadow: 0px 0px 10px 2px #1a191d;
}

section#pokedex div#pokedex__container #pokedex__grid .pokedex__card:hover .pokedex__card__cover {
  background-blend-mode: hard-light;
  background-size: contain;
}

section#pokedex div#pokedex__container #pokedex__grid .pokedex__card:hover .pokedex__card__info h3.pokedex__card__info__name {
  color: #dfdfdf !important;
}

section#pokedex div#pokedex__container #pokedex__grid .pokedex__card .pokedex__card__cover {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  height: 55%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section#pokedex div#pokedex__container #pokedex__grid .pokedex__card .pokedex__card__info {
  padding: 0 1rem;
}

section#pokedex div#pokedex__container #pokedex__grid .pokedex__card .pokedex__card__info .pokedex__card__info__name {
  font-size: 2rem;
}

section#pokedex div#pokedex__container #pokedex__grid .pokedex__card .pokedex__card__info .pokedex__type__container {
  margin-top: 0.3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

section#pokedex div#pokedex__container #pokedex__grid .pokedex__card .pokedex__card__info .pokedex__type__container .pokedex__type {
  padding: 0.3rem;
  border-radius: 0.4rem;
}

section#pokedex div#pokedex__container #pokedex__grid .pokedex__card .pokedex__card__info .pokedex__type__container .pokedex__type p {
  font-weight: 300;
  font-size: 0.8rem;
  text-align: center;
}

section#pokedex div#pokedex__container button#pokedex__button {
  margin-top: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 20%;
  height: 2.2rem;
}

section#pokedex div#pokedex__container button#pokedex__button:hover {
  background-color: #474747;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

section#pokedex div#pokedex__container button#pokedex__button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

section#pokedex div#pokedex__container button#pokedex__button.disabled {
  display: none;
}

.fire {
  color: #fd9218;
}

.grass {
  color: #2ce287;
}

.electric {
  color: #f5e020;
}

.water {
  color: #33b9ee;
}

.ice {
  color: #90dfff;
}

.ground {
  color: #7e4e1e;
}

.rock {
  color: #493913;
}

.fairy {
  color: #f9d5ff;
}

.poison {
  color: #481455;
}

.bug {
  color: #A8B820;
}

.dragon {
  color: #69316e;
}

.psychic {
  color: #c437d6;
}

.flying {
  color: #dde8fd;
}

.fighting {
  color: #e03517;
}

.normal {
  color: #A8A878;
}

.ghost {
  color: #705898;
}

.steel {
  color: #a8a8a8;
}

.dark {
  color: #383227;
}

#pokemon__grid {
  padding-top: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 15rem;
  gap: 1.5rem;
}

#pokemon__grid .pokemon__card {
  width: 100%;
  padding: 0;
  border-radius: 1rem;
  cursor: pointer;
  overflow: hidden;
}

#pokemon__grid .pokemon__card:hover {
  -webkit-box-shadow: 0px 0px 10px 2px #1a191d;
          box-shadow: 0px 0px 10px 2px #1a191d;
}

#pokemon__grid .pokemon__card:hover .pokemon__card__cover {
  background-blend-mode: hard-light;
  background-size: contain;
}

#pokemon__grid .pokemon__card:hover .pokemon__card__info h3.pokemon__card__info__name {
  color: #dfdfdf !important;
}

#pokemon__grid .pokemon__card .pokemon__card__cover {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  height: 55%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#pokemon__grid .pokemon__card .pokemon__card__info {
  padding: 0 1rem;
}

#pokemon__grid .pokemon__card .pokemon__card__info .pokemon__card__info__name {
  font-size: 2rem;
}

#pokemon__grid .pokemon__card .pokemon__card__info .pokemon__type__container {
  margin-top: 0.3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

#pokemon__grid .pokemon__card .pokemon__card__info .pokemon__type__container .pokemon__type {
  padding: 0.3rem;
  border-radius: 0.4rem;
}

#pokemon__grid .pokemon__card .pokemon__card__info .pokemon__type__container .pokemon__type p {
  font-weight: 300;
  font-size: 0.8rem;
  text-align: center;
}

#search__main {
  height: 100%;
}

#search__main div#pokemon__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0  2rem;
}

section#pokemon {
  width: 100%;
}

section#pokemon div#pokemon__container {
  padding-bottom: 3rem !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2rem;
}

section#pokemon div#pokemon__container .section__legend {
  font-size: 2rem;
}

footer#footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer#footer #license__container {
  font-family: "system-ui";
}

footer#footer #social a {
  font-size: 2rem;
  margin-left: 0.5rem;
}

footer#footer #social a i:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media (max-width: 1000px) {
  .brand__container img {
    width: 1.9rem;
    height: 1.9rem;
    margin-right: 0.5rem;
  }
  .brand__container h1.brand__name {
    font-size: 1.8rem;
  }
}

@media (max-width: 860px) {
  .brand__container img {
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 0.5rem;
  }
  .brand__container h1.brand__name {
    font-size: 1.5rem;
  }
  #header nav a {
    font-size: 1rem;
  }
  section#pokedex div#pokedex__container #pokedex__grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 660px) {
  .brand__container img {
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 0.5rem;
  }
  .brand__container h1.brand__name {
    font-size: 1.5rem;
  }
  #header nav a {
    font-size: 1rem;
  }
  section#pokedex div#pokedex__container #pokedex__grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 450px) {
  .brand__container img {
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 0.5rem;
  }
  .brand__container h1.brand__name {
    font-size: 1.5rem;
  }
  #header {
    -webkit-clip-path: none;
            clip-path: none;
  }
  #header nav {
    display: none;
  }
  #header nav a {
    font-size: 1rem;
  }
  main#main {
    overflow-x: hidden;
  }
  #starredPokemons h2.section__legend {
    font-size: 1.2rem;
  }
  #starredPokemons .starredPokemons__buttons {
    font-size: 4.75rem;
  }
  #starredPokemons .starredPokemons__card {
    height: 14rem;
    width: 9.8rem;
  }
  #starredPokemons .starredPokemons__card .starredPokemons__card__cover {
    height: 65%;
  }
  #starredPokemons .starredPokemons__card .starredPokemons__info .starredPokemons__type__container .starredPokemons__type p {
    font-size: 0.6rem;
  }
  section#pokedex div#pokedex__container #pokedex__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  section#pokedex div#pokedex__container #pokedex__grid .pokedex__card .pokedex__card__cover {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  section#pokedex div#pokedex__container #pokedex__grid .pokedex__card .pokedex__card__info .pokedex__card__info__name {
    font-size: 1.8rem;
  }
  footer#footer {
    height: 13rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
  }
  footer#footer #license__container {
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */