<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/head.ejs")%>
<body>
    <%-include("./partials/header.ejs")%>
    <%-include("./partials/main.ejs")%>
    <%-include("./partials/footer.ejs")%>
    <script src="https://kit.fontawesome.com/1157f15744.js" crossorigin="anonymous"></script>]
    <script src="scripts/searchBar.js"></script>
</body>
</html>