<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/head.ejs")%>
<body class="bg__lightblack body__container">
    <%-include("./partials/header.ejs")%>
    <main id="search__main">
        <section id="pokemon" class="height__full">
            <div id="pokemon__container" class="bg__gray flex__container__center height__full">
                <h2 class="section__legend">Resultados</h2>
                <% if (pokemon != null) { %>
                    <div id="pokemon__grid">
                        <%- include ("./partials/pokemonCard", {element:pokemon}) %> 
                    </div>            
                <% } else {%>
                    <div class="flex__container__center height__full">
                        <p>Pokemon not found.</p>
                    </div>
                <%}%>
            </div>
        </section>
    </main>
    <%-include("./partials/footer.ejs")%>
    <script src="https://kit.fontawesome.com/1157f15744.js" crossorigin="anonymous"></script>
    <script src="scripts/searchBar.js"></script>
    <!-- <script src="scripts/scrollPokedexBehaviour.js"></script> -->
    <script src="scripts/pageScroll.js"></script>
</body>
</html>