<div class="brand__container flex__container__center js__scrollUp">
    <img src="assets/brand-icon.svg" alt="" class="brand__icon">
    <a href="/"><h1 class="brand__name text__color__lightgray">POKECATALOG</h1></a>
    
</div>