<footer class="container flex__container__center bg__darkgray" id="footer">
    <%-include("./brand")%>
    <div id="license__container" class="text__color__lightgray">
        © 2022 pokecatlog <br>
        TODOS OS DIRETOS RESERVADOS
    </div>
    <div id="social">
        <a href="https://github.com/h3nrey/" target="blank"><i class="fa-brands fa-github-alt text__color__lightgray fluid"></i></a>
        <a href="https://www.linkedin.com/in/pedro-novaes-2258211ab/" target="blank"><i class="fa-brands fa-linkedin-in text__color__lightgray fluid"></i></a>
        <a href="https://twitter.com/h3nrey" target="blank"><i class="fa-brands fa-twitter text__color__lightgray fluid"></i></a>
        
    </div>

</footer>