<header id="header" class="flex__container__center container">
    <%- include ("./brand") %> 
    <!-- <div id="menu__button"><i class="fa-solid fa-bars text__color__gray"></i></div> -->
    <nav class="flex__container__center">
        <a href="#pokedex" class="text__family__sigmar  text__color__gray fluid">Pokedex</a>
        <form action="/" method="post" id="search-form" class="flex__container__center">
            <input id="search__input" name="search" class="bg__lightgray fluid" type="text" placeholder="Search" required>
            <button id="search__button" value="search" type="submit" class="fa-solid fa-magnifying-glass text__color__gray"></button>
        </form>
    </nav>
</header>